<html>
    <head>
        <link href="./static/adminLogin.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lora:wght@700&family=Playfair+Display:wght@900&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/font-awesome.min.css">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>
            Admin Login
        </title>
      
    </head>

    
    <body >
        <div class="home">
            <a href="index.html"> Home</a>
        </div>
        <div class="Login">
            <div class="title">
                <img src="{{url_for('static', filename='images/loginvector.png')}}">
            </div>
            <div class="login-form">
                <h3> Log in.</h3>
                <h4> Login with your admin credentials.</h4>

                <form class="form-control" id="form-controls"  action="/login" method = "POST">
                   
                    <div class="data">
                        <input type="email" placeholder="Email" name= "Email" required>
                        <i class="fa fa-duotone fa-user" ></i>
                        
                    </div>
                    <div class="data">
                        <input type="password" placeholder="Password" name= "password" required>
                        <i class="fa fa-duotone fa-lock" style="--fa-primary-color: #2f64c1; --fa-secondary-color: #2f64c1;"></i>
                        </div>
                    

                    <div class="validate"> 
                        <input type="checkbox">
                        <p> Keep me logged in </p>
                        <a href="#"> Forgot Password? </a> 
                    </div>
                    <button type="submit"> Log In</button>
                </form>
            </div>
            <div id="message">{{message}}</div>
        </div>
        <!-- <script src="{{url_for('static',filename='login.js')}}"></script> -->
    </body>
</html>