<html>
    <head>
        <title> Cashier Login</title>
        <link href="styleLogin.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lora:wght@700&family=Playfair+Display:wght@900&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/font-awesome.min.css">
    </head>
    
    <body>
        <div class="title"> <button> Home</button></div>
       <div class="side"> 
            <img src="images/person1.jpg"> 
       </div>
       
   </div>
       <div class="main"> 
        <div class="login-container">
            <p class="welcome"> Welcome Back </p>
            <div class="separator"> </div>
            <p class="welcome-message">Please, provide your login credential 
                to proceed and have access to all the services</p>
           <div class="cashier"> Cashier Login</div>

        <form class="login-form">
            <div class="form-control">
                <input placeholder="Enter Username" type="text">
                <i class="fa fa-duotone fa-user" ></i>
                
            </div>
            <div class="form-control">
                <input placeholder="Enter Password" type="password">
                <i class="fa fa-duotone fa-lock" style="--fa-primary-color: #2f64c1; --fa-secondary-color: #2f64c1;"></i>
                </div>
                <BUTTON class="submit" onclick=" window.location.href='billing.html'">Login </BUTTON>
        </form>
    </div>
       </div>
    </body>
</html>