<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <h2>Stacked form</h2>
  <form  action="/register" method = "POST">
   <input placeholder="Name" type="text" name="Name">  
   <input placeholder="Email" type="email" name="Email">  
    <button> Submit</button>
  </form>
</div>
  <div class="container"> 
    <p> Name = {{Name}} and Email = {{Email}} is added successfully</p>
  </div>
</body>
</html>
